[Unit]
Description=Bedrock guided system installer
After=systemd-user-sessions.service
Before=bedrock-first-run.service
Conflicts=getty@tty1.service bedrock-first-run.service
ConditionPathExists=/run/live/medium/bedrock/bedrock-os-amd64.raw

[Service]
Type=simple
ExecStart=/usr/sbin/bedrock-install
ExecStopPost=/bin/systemctl --no-block start getty@tty1.service
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=no
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
